<md-card> <md-card-header> <!-- <img md-card-sm-image [src]="angularLogo" alt="angular logo"/>  -->
<md-card-title>
<h1>Voting</h1>
</md-card-title> <md-card-subtitle>Authenticated:
{{authService.isAuthenticated()}}</md-card-subtitle> </md-card-header> <md-card-content> </md-card-content>
</md-card>

<md-card> <md-card-header> <md-card-title>
<h1 style="text-align: center">Token will expire
	{{authService.getTokenExpirationDate() | date:'MM/dd/yy HH:mm:ss'}}</h1>
</md-card-title> <md-card-subtitle>Authenticated:
{{authService.isAuthenticated()}}</md-card-subtitle> </md-card-header> <md-card-content>
<div style="width: 100%">

	<div>
		<h2>Surveys</h2>
		<ul>
			<li *ngFor="#survey of surveys" [class.selected]="survey === selectedSurvey"
				(click)="onSelect(hero)"><span class="badge">{{survey.title}}</span>
				{{survey.description}}</li>
		</ul>
		<div *ngIf="selectedHero">
			<h2>{{selectedHero.title | uppercase}}</h2>
			<button (click)="gotoDetail()">View Details</button>
		</div>
	</div>


</div>
</md-card-content> </md-card>

